
@import "~taro-ui/dist/style/components/nav-bar.scss";
@import "~taro-ui/dist/style/components/noticebar.scss";
@import "~taro-ui/dist/style/components/button.scss";
.ssss{
  .at-nav-bar__text{
    font-size: small !important;
  }
  .at-icon{
    font-size: small !important;
  }
  .at-nav-bar__title{
    font-size: small !important;
    padding-top: 3px;
  }
}

